/*
 * Theme definitions
 */
 
 $themes: (
  pink: (
   // backgroundColor: #CCC,
   // textColor: #0488e0
  ),
    light: (
      backgroundColor: #CCC,
      textColor: #0488e0
    ),
    dark: (
      backgroundColor: #000,
      textColor: #ddd
    ),
    red: (
      backgroundColor: #ff3d3d,
      textColor: #ffffff
    ),
    blue: (
      backgroundColor: rgb(0, 110, 255),
      textColor: #f8f8f8
    ),
);