 /* .wj-flexgrid {
        height: 150px; 
         margin: auto;
       }
       .wj-flexgrid {
         max-height: 500px;
        width: auto;
       } */

    .btn{
      color: #333;
      background-color: #fff;
      border-color: #ccc;
    }
    .wj-flexgrid {
      height: 400px;
      margin: 6px 0;
  }
    