<!-- Auto refreshing can make true or false -->

<!-- <div class="container-fluid">
    <wj-flex-grid #flex
        [deferResizing]="true"
        [(itemsSource)]="data">
        <wj-flex-grid-column [binding]="'id'" [header]="'ID'" [width]="60" [allowSorting]="false"></wj-flex-grid-column>
        <wj-flex-grid-column [binding]="'country'" [header]="'Country'"></wj-flex-grid-column>
        <wj-flex-grid-column [binding]="'sales'" [header]="'Sales'"></wj-flex-grid-column>
        <wj-flex-grid-column [binding]="'expenses'" [header]="'Expenses'"></wj-flex-grid-column>
    </wj-flex-grid>
</div> -->

<!-- multi sorting of different coloums  -->

<!-- <div class="container-fluid">
    <wj-flex-grid #flex
        [alternatingRowStep]="0"
        [(itemsSource)]="data"
        [allowSorting]="'MultiColumn'">  
        <wj-flex-grid-filter></wj-flex-grid-filter>
    </wj-flex-grid>
</div> -->

<!-- <p>client side pagenation </p>

<div class="container-fluid">
    <wj-collection-view-navigator
        headerFormat="Page {currentPage:n0} of {pageCount:n0}"
        [byPage]="true"
        [cv]="data">
    </wj-collection-view-navigator>
    <wj-flex-grid #flex
        headersVisibility="Column"
        [alternatingRowStep]="0"
        [itemsSource]="data">
    </wj-flex-grid>
</div> -->

<div class="container-fluid">
    <button mat-button (click)="openDialogue('wijimo-flexgrid')">
        <mat-icon>info</mat-icon>
    </button>
    <div class="row">
    <!-- Export PDF Functionality starts -->
    <!-- Export settings -->
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Export Settings
                    </h4>
                </div>
                <div class="panel-body">
                    <ul class="list-inline">
                        <li>
                            <wj-menu [(value)]="scaleMode" header="Scale mode">
                                <wj-menu-item [value]="ScaleModeEnum.ActualSize">ActualSize</wj-menu-item>
                                <wj-menu-item [value]="ScaleModeEnum.PageWidth">PageWidth</wj-menu-item>
                                <wj-menu-item [value]="ScaleModeEnum.SinglePage">SinglePage</wj-menu-item>
                            </wj-menu>
                        </li>
                        <li>
                            <wj-menu [(value)]="orientation" header="Orientation">
                                <wj-menu-item [value]="PdfPageOrientationEnum.Portrait">Portrait</wj-menu-item>
                                <wj-menu-item [value]="PdfPageOrientationEnum.Landscape">Landscape</wj-menu-item>
                            </wj-menu>
                        </li>
                        <li>
                            <wj-menu [(value)]="exportMode" header="Export mode">
                                <wj-menu-item [value]="ExportModeEnum.All">All</wj-menu-item>
                                <wj-menu-item [value]="ExportModeEnum.Selection">Selection</wj-menu-item>
                            </wj-menu>
                        </li>
                    </ul>                
                </div>
            </div>        
        </div>
    </div>

    <!-- Export button -->
    <button class="btn btn-default" (click)="export()">Export</button>    
    <!-- Export PDF Functionality ends -->
    
    <p>server side pagenation </p>

    <div class="row">
        <wj-collection-view-navigator
            [byPage]="true"
            [headerFormat]="'Page {currentPage:n0} of {pageCount:n0}'"
            [cv]="datas">
        </wj-collection-view-navigator>
        <wj-flex-grid #flex
            [isReadOnly]="true"
            [alternatingRowStep]="0"
            [headersVisibility]="'Column'"
            [itemsSource]="datas"
            [allowSorting]="'MultiColumn'"
            >
        </wj-flex-grid>
    </div>

    <!-- Export Excel Functionality starts -->
    <div class="row">	
		<div class="col-md-6 col-xs-12">
            <div class="form-inline well well-lg">
                <button (click)="save()" class="btn btn-default">Export</button>
                <div class="checkbox">
                    <label>
                        <input [(ngModel)]="includeColumnHeader" type="checkbox"> Include Column Header
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input [(ngModel)]="customContent" type="checkbox"> Custom Cell Content
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- Export Excel Functionality ends -->
</div>