
<h4>World Population Continent wise</h4>


<div class="container-fluid">
    <button mat-button (click)="openDialogue('drill-down-chart')">
        <mat-icon>info</mat-icon>
    </button>
<div style="display: block; width: 300px; height: 300px;" *ngIf="showLine">
  <canvas baseChart 
    [data]="chartData" 
    [labels]="chartLabels" 
    [chartType]="chartType"
    [options]="chartOptions"
    [legend]="chartLegend"
  
    (chartClick)="chartClicked($event)" >
  </canvas>
</div>

<div style="display: block; width: 300px; height: 300px;" *ngIf="!showLine">
  <canvas baseChart 
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    [legend]="chartLegend"
    [chartType]="chartType">
  </canvas>
</div>
